* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fb100a;
  background-image: linear-gradient(45deg, #fb100a 7%, #af0600 56%);
}

.imagen-fondo {
  background-image: url(/img/123871374_461612921491798_1003483085140659008_n1-22fc01162a29e9361e16045892313197-480-011-b99b7e6fcd930fa5c916304214121983-640-0.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px 10px 30px;
  border-radius: 10px;
  width: 400px;
  background-color: #fff;
  box-shadow: 10px 10px 10px #000;
  opacity: 0.8;
}

.formulario h1 {
  text-align: center;
  border-bottom: 3px solid #000;
}

#mail {
  margin-left: 60px;
}

.form {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form input {
  border: none;
  border-bottom: #000 1px solid;

  transition: 0.2s;
}

.form input:focus::placeholder {
  color: #af0600;
  transition: 0.2s;
}

.form input:focus {
  padding: 5px;
}

.boton input {
  width: 100%;
  border: none;
  background-color: #00000052;
  padding: 0.2em 0 0.2em 0;
}

.boton input:active {
  background-color: rgba(0, 128, 0, 0.568);
}

.cuenta {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.cuenta a {
  color: #af0600;
  gap: 10px;
}

.cuenta a:last-child {
  color: rgb(36, 36, 199);
  text-decoration: none;
}

@media (width < 576px) {
  .formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 10px 10px 10px #000;
    opacity: 0.8;
    width: 50%;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    gap: 10px;
  }

  .imagen-fondo {
    background-size: cover;
    background-position: center;
  }
}

@media (width < 350px) {
  .formulario h1 {
    font-size: 20px;
  }
}
