* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --principal: #fb100a;
  --secondary: #af0600;
  --bgd: #252525;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  background-image: linear-gradient(
    135deg,
    #ffffff 0%,
    #cacaca 58%,
    #919191 100%
  );
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: var(--principal);
  width: 100%;
  box-shadow: 0 8px 10px rgba(29, 29, 29, 0.644);
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 2;
  opacity: 0.9;
}

.navbar:hover {
  box-shadow: 0 15px 20px rgba(29, 29, 29, 0.644);
  transition: 0.3s;
}

.login {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.navbar__lista {
  display: flex;
  color: var(--principal);
  position: relative;
  font-weight: 200;
}

.navbar__lista:hover {
  background: #222;
  outline: 1px solid rgba(255, 255, 255, 0.514);
  padding: 5px 0;
  border-radius: 5px;
}

.navbar__lista--pri {
  color: #fff;
  font-weight: 400;
}

.derecha-nav {
  font-size: 2rem;
  gap: 30px;
  align-items: center;
  display: none;
}

.fa-solid {
  position: relative;
}

#hamburguesa {
  opacity: 0;
  position: absolute;
}

/* fin primera parte */

.inicio {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.inicio__menu {
  width: 50%;
  text-align: center;
  margin-top: 8rem;
}

.inicio__menu h1 {
  font-size: 80px;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 10px;
}

.inicio__menu h1:first-child {
  text-decoration: underline;
}

.inicio__menu h2 {
  font-size: 40px;
  font-weight: 400;
}

.registrar {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 1em;
}

.registro {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  background-color: #af0600;
  padding: 7px;
  border-radius: 3px;
  box-shadow: 5px 5px 10px #000;
  margin-bottom: 50px;
}

.registro:active {
  background-color: green;
  text-decoration: underline;
}

/* aca va el responsive de la primeraa parte de la pag */

#cards {
  display: flex;
  justify-content: center;
}

.cards__buzos {
  display: flex;
  box-shadow: 1px 1px 10px #000;
  border-radius: 8px;
  flex-direction: column;
  display: inline-block;
  margin-left: 10px;
  opacity: 0.9;

  transition: transform 0.2s ease;
}

.cards__buzos:hover {
  transform: scale(1.03);
  opacity: 1;
}

.cards__buzos img {
  width: 400px;
  height: 500px;
  border-radius: 8px;
}

.card-info {
  display: flex;
  color: #fff;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.card-info p {
  color: #af0600;
  font-weight: 400;
}

.card-info a {
  color: #000;
  outline: 2px solid #000;
  padding: 01px;
  border-radius: 3px;
  margin-bottom: 6px;
  box-shadow: 1px 1px 8px #000;
  font-weight: 400;
}

.card-info a:active {
  background-color: #fb100a;
}

.card-info a:hover {
  box-shadow: 3px 3px 30px #000000;
  outline: 3px solid #000;
}

#cards-2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* aca va el responsive de la segunda parte de la pag */

.coleccion {
  font-size: 50px;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  margin-top: 1em;
}

.coleccion__img {
  width: 100%;
  height: 500px;
  position: relative;
  display: inline-block;
}

.contenedor__boton {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 300%);
  color: #fff;
  background-color: #00000079;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.contenedor__boton:hover {
  outline: 1px solid #fff;
}

/* aca va el responsive de la tercera parte de la pag */

#temporadas h1 {
  margin-top: 70px;

  margin-bottom: 70px;
  font-size: 80px;
  text-align: center;
}

#temporadas h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
}

.invierno {
  background-color: #d9afd952;
  background-image: linear-gradient(
    0deg,
    #d9afd998 0%rgba (151, 218, 225, 0.486) 100%
  );
  padding-bottom: 1em;
  box-shadow: 10px 0px 50px #000;
}

.invierno__image {
  display: flex;
  justify-content: space-around;
}

.invierno img {
  transition: transform 0.2s ease;
}

.invierno img:hover {
  transform: scale(0.9);
  border-radius: 10px;
  box-shadow: 10px -10px 30px #5e5e5e;
}

.verano {
  background-color: #85ffbe5e;
  padding-bottom: 1em;
  background-image: linear-gradient(45deg, #85ffbe65 0%, #fffb7d49 100%);
  margin-top: 20px;
  box-shadow: 0 10px 50px #000000;
  margin-bottom: 100px;
}

.verano__image {
  display: flex;
  justify-content: space-around;
}

.verano img {
  transition: transform 0.2s ease;
}

#temporadas a {
  color: #222;
  background-color: #0000002c;
  border-radius: 5px;
  transition: 0.2s;
  font-family: "Poppins", sans-serif;
}

#temporadas a:hover {
  background-color: #00000096;
  color: #fff;
  padding: 5px;
  font-weight: 600;
  transition: 0.2s;
}

.link-ml,
.link-ml-2 {
  text-align: center;
  padding: 7px;
  margin-top: 20px;
  font-size: 1.2em;
}

.verano img:hover {
  transform: scale(0.9);
  border-radius: 10px;

  box-shadow: 10px -10px 30px #5e5e5e;
}

/* aca va mediaqueries */

.footer {
  background: rgb(46, 46, 46);
  background: linear-gradient(
    90deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(70, 70, 70, 1) 50%,
    rgba(46, 46, 46, 1) 100%
  );
  color: #fff;
  box-shadow: 0px -30px 70px #222;
}

.footer h2 {
  font-size: 60px;
  text-align: center;
}

.footer h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: center;
}

.footer p {
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.footer__contacto {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.medios-de-pago img {
  width: 15em;
}

.contenedor-titulo {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.redes-sociales {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.redes-icons a {
  color: #fff;
  text-decoration: underline;
}

.redes-icons a:hover {
  color: red;
  padding-bottom: 8px;
}

.facebook {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.instagram {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mail {
  display: flex;
  align-items: center;
  gap: 1rem;
}

textarea {
  resize: none;
  background-color: #222222a8;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease;
}

textarea:focus {
  background-color: #fff;
  border: 1px solid #000;
  transition: 0.3s ease;
}

.contacts input {
  padding: 5px;
  border: none;
  margin-top: 0.5rem;
}

/* mediaqueries celular */

@media (width < 769px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar__lista {
    display: none;
  }
  .login {
    gap: 10px;
  }
  .derecha-nav {
    font-size: 1.3rem;
    gap: 20px;
    display: flex;
  }

  .navbar img {
    margin-left: 50px;
    width: 40px;
  }

  .navbar__lista--pri {
    margin-left: 2rem;
  }

  .inicio__menu {
    width: 100%;
    margin-top: 3rem;
  }
  .inicio__menu h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .inicio__menu h2 {
    font-size: 30px;
    margin-top: 30px;
  }

  .registro {
    font-size: 30px;
    font-weight: 300;
    padding: 5px;
  }

  #cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards__buzos {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    opacity: 1;
  }

  .cards__buzos p:first-child {
    font-size: 20px;
  }

  .cards__buzos img {
    width: 100%;
    height: 60%;
  }

  #cards-2 {
    display: none;
  }

  #temporadas h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .invierno h2,
  .verano h2 {
    display: none;
  }

  .invierno__image {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .invierno img {
    width: 80%;
  }

  .verano img {
    width: 80%;
  }
  s .invierno,
  .verano {
    padding-top: 30px;
  }

  #temporadas a:hover {
    font-weight: 200;
    padding: 0;
    transition: 0.2s;
  }

  .verano__image {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .footer__contacto {
    flex-direction: column;
    padding: 10px;
    gap: 50px;
  }

  .footer h2 {
    font-size: 50px;
  }

  .redes-sociales {
    align-items: center;
  }

  .medios-de-pago {
    justify-content: center;
    width: 100%;
  }

  .medios-de-pago img {
    width: 100%;
  }

  #copyright a {
    display: none;
  }
}

/* mediaq tablets */

@media (width > 768px) and (width < 1300px) {
  .inicio__menu {
    width: 80%;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar__lista {
    display: none;
  }

  .login {
    gap: 10px;
  }

  .derecha-nav {
    font-size: 2.5rem;
    gap: 20px;
    display: flex;
  }

  .navbar img {
    margin-left: 50px;
    width: 40px;
  }

  #cards,
  #cards-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 30px;
  }

  #cards {
    margin-bottom: 30px;
  }

  .card-info {
    justify-content: flex-start;

    align-items: center;
  }

  .cards__buzos {
    justify-content: center;
    opacity: 1;

    align-items: center;
  }

  .medios-de-pago {
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  .medios-de-pago img {
    width: 100%;
  }
}

@media (width > 1300px) {
  .contacts {
    width: 600px;
  }

  .medios-de-pago img {
    width: 400px;
  }

  .login {
    font-size: 40px;
    gap: 50px;
  }
}

@media (width<1300px) {
  .navbar__lista {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 45px;
    height: calc(100vh);
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .derecha-nav i {
    display: block;
  }

  #hamburguesa:active ~ .navbar__lista {
    display: flex;
  }
}
